/*
noow, there are two ways of creating the grid for my blog system:
1st generate the grid with a mixin and write new grid classes that could be called in the html
2nd generate mixin and write includes into already created html elements

I'm using 2nd version after consulting with Joanne, to me it's easier to manipulate and maintain.
For a bigger project a full grid system would be applied.

the grid is also inspired by the previously used grid responsivegridsystem.com

*/
body {
  font-family: "Lato", sans-serif;
  color: #3d3c3c;
  font-size: 1.2em;
  margin: 0; }

b {
  font-style: bold;
  font-weight: 700; }

i {
  font-style: italic; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "museo-sans-rounded", sans-serif; }

h1 {
  font-weight: 900;
  color: #01579b; }

h2 {
  font-weight: 900;
  color: #ad1457; }

h3 {
  color: #006064; }

p {
  padding: 1.25em; }

img {
  width: 100%; }

a {
  color: #01579b;
  text-decoration: none; }
  a:hover {
    color: #ad1457;
    text-decoration: underline;
    transition: all 1s;
    text-decoration: none; }
  a .tile {
    color: #fff; }

header {
  margin: 2em 0 2em 0;
  /*box-shadow: -5px 5px 20px -5px #006064;*/
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    header {
      width: 100%;
      vertical-align: top; } }

hg, .container {
  clear: both;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }

section {
  min-height: 30vh;
  overflow: auto;
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    section {
      width: 100%;
      vertical-align: top; } }
  section .feat {
    margin: -2em auto; }
    section .feat :nth-last-of-type(1) {
      margin-bottom: 2em; }

article {
  padding: 3em 0;
  margin: auto; }
  article > h2 {
    color: #ad1457;
    text-align: center;
    font-size: 2.5em;
    padding: 0 1%; }

.hidden {
  display: none; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.bottom-margin {
  margin-bottom: 10em; }

.bg {
  background: #e4ebeb; }

.blue {
  background: #fff;
  overflow: hidden; }

.transition {
  background: #01579b;
  transition: 1s all; }

.margins {
  margin: 1em 0 2em; }

.button {
  padding: 0.25em 1em;
  border: 2px solid transparent;
  text-decoration: none; }

.top {
  top: 4.75em; }

.logo {
  padding-left: 2%; }

.image {
  background: url("../img/landing-img.jpg") no-repeat center center;
  overflow: auto;
  background-size: cover; }

.explain label {
  color: #01579b;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1.5em; }

small {
  font-size: 1em; }

nav {
  padding: 1% 0;
  clear: both;
  overflow: hidden;
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    nav {
      width: 100%;
      vertical-align: top; } }
  nav .button {
    border: 2px solid #ad1457;
    color: #ad1457; }
    nav .button:hover {
      background: #ad1457;
      color: #e4ebeb;
      transition: all 1s; }
  nav .first {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0; }
    @media screen and (min-width: 35.5em) {
      nav .first {
        width: 66.66667%;
        vertical-align: top; } }
    nav .first img {
      width: inherit; }
  nav a {
    font-size: 0.9em; }
  nav form {
    background-color: #e4ebeb;
    outline: #e4ebeb;
    width: auto;
    padding: .25em; }
    nav form input[type=search] {
      width: 82%;
      border: 1px solid #e4ebeb;
      height: 2.5em; }
    nav form input:focus {
      border: none;
      outline: none; }
    nav form input[type=submit] {
      background-color: #e4ebeb;
      color: #01579b;
      font-size: 0.6em;
      height: 3em;
      width: 5em;
      border: none; }
      nav form input[type=submit]:hover {
        background: #01579b;
        color: #fff;
        transition: 1s all; }
  nav .middle {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%;
    text-align: center; }
    @media screen and (min-width: 35.5em) {
      nav .middle {
        width: 8.33333%;
        vertical-align: top; } }
  nav .last {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; }
    @media screen and (min-width: 35.5em) {
      nav .last {
        width: 33.33333%;
        vertical-align: top; } }

.inputs {
  padding: 3%;
  margin-bottom: 5em;
  border: 2px solid #006064;
  padding: 3%;
  background: #e4ebeb; }
  .inputs h3 {
    color: #006064;
    font-weight: 900; }
  .inputs input[type=submit] {
    border: 2px solid #ad1457;
    background: #ad1457;
    padding: 1em 2em;
    color: #e4ebeb;
    font-size: 0.75em;
    margin: 2em 0; }
    .inputs input[type=submit]:hover {
      border: 2px solid #ad1457;
      padding: 1em 2em;
      background: transparent;
      color: #006064;
      transition: 1s all; }
  .inputs input[type="text"], .inputs input[type="password"], .inputs textarea {
    min-height: 2em;
    max-height: 6em;
    border: 1px solid #ddd;
    margin: 1em 0; }

textarea {
  min-height: 8em; }

footer {
  background: #3d3c3c;
  min-height: 15em;
  color: #e4ebeb;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    footer {
      width: 100%;
      vertical-align: top; } }
  footer .feat {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; }
    @media screen and (min-width: 35.5em) {
      footer .feat {
        width: 100%;
        vertical-align: top; } }
  footer .social {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; }
    @media screen and (min-width: 35.5em) {
      footer .social {
        width: 25%;
        vertical-align: top; } }
    footer .social img {
      width: inherit; }
  footer .last {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; }
    @media screen and (min-width: 35.5em) {
      footer .last {
        width: 100%;
        vertical-align: top; } }
  footer a {
    color: #fff; }
  footer .button {
    padding: 1em 3em;
    background: #006064;
    color: #fff; }
    footer .button:hover {
      border: 2px solid #e4ebeb;
      background: transparent;
      color: #e4ebeb;
      transition: all 1s; }

.dashboard {
  padding-top: 2em;
  text-align: left;
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
  margin: 0 auto !important;
  display: block;
  float: none; }
  @media screen and (min-width: 35.5em) {
    .dashboard {
      width: 90.90909%;
      vertical-align: top; } }
  .dashboard h2 {
    font-size: 1.2em;
    color: #ad1457; }

h1.dashboard {
  font-size: 1.8em;
  color: #01579b; }
  @media screen and (max-width: 35.5em) {
    h1.dashboard {
      font-size: 1em; } }

/*dashboard stuff*/
.tile span {
  font-size: 11em; }
.tile h3 {
  margin-top: 2.45em;
  font-size: 2em;
  color: #fff; }
.tile:hover {
  color: #006064; }

/*Box property*/
.box {
  padding-bottom: 3em;
  box-shadow: -1px 3px 10px -5px #006064;
  margin-bottom: 6em;
  /*comments*/ }
  .box > h3 {
    font-size: 1.9em;
    color: #01579b;
    font-weight: 500; }

.feat {
  margin: 1em auto;
  text-align: center; }

.post .feat {
  margin-top: 0.5em;
  margin-bottom: 0; }
  .post .feat .box {
    margin-bottom: 0.5em;
    text-align: left; }
    .post .feat .box > h3 {
      padding-left: 0.5em; }

.board {
  display: block;
  background: #006064;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%;
  margin: 2%; }
  @media screen and (min-width: 35.5em) {
    .board {
      width: 44.44444%;
      vertical-align: top; } }
  .board:hover {
    background: #ad1457;
    transition: 1s all;
    text-decoration: none; }

.new-post {
  padding-bottom: 1em;
  background: #e4ebeb; }
  .new-post .inputs {
    border: none; }

.intro {
  background: #fff; }
  .intro h2 {
    color: #ad1457;
    font-size: 1.3em; }

h1.main {
  font-size: 3.2em; }

/*Animations mixin!!!!!*/
.pulse {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
/*Icons taken from http://fontello.com/ in open source lisence*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?6498180");
  src: url("../fonts/fontello.eot?6498180#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?6498180") format("woff"), url("../fonts/fontello.ttf?6498180") format("truetype"), url("../fonts/fontello.svg?6498180#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6498180#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-facebook-circled:before {
  content: '\e800'; }

.icon-twitter-circled:before {
  content: '\e801'; }

.icon-googleplus-rect:before {
  content: '\e802'; }

.icon-doc-new-circled:before {
  content: '\e803'; }

.icon-mail:before {
  content: '\e804'; }

.icon-book:before {
  content: '\e805'; }

.icon-help-circled:before {
  content: '\e807'; }

/*general setting*/
[class^="icon-"] {
  font-size: 2em; }

header .feat .first {
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    header .feat .first {
      width: 100%;
      vertical-align: top; } }
header .feat .middle {
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0; }
  @media screen and (min-width: 35.5em) {
    header .feat .middle {
      width: 25%;
      vertical-align: top; } }
header .feat .last {
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    header .feat .last {
      width: 75%;
      vertical-align: top; } }

.container {
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  clear: both;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }

.blue {
  margin-bottom: 2em; }
  .blue .first {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%;
    margin: 0 auto !important;
    display: block;
    float: none;
    padding: 0; }
    @media screen and (min-width: 35.5em) {
      .blue .first {
        width: 91.66667%;
        vertical-align: top; } }
    .blue .first .middle {
      width: 100%;
      font-size: inherit;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 0 1% 0.6%;
      margin: auto 1.75%; }
      @media screen and (min-width: 35.5em) {
        .blue .first .middle {
          width: 29.62963%;
          vertical-align: top; } }
      .blue .first .middle:nth-last-child(1) {
        padding-bottom: 13px; }

/*section content */
#testimonials {
  background: #006064;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%; }
  #testimonials .first {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0;
    vertical-align: none;
    padding: 0;
    float: none;
    margin-top: 1em;
    display: block;
    overflow: auto; }
    @media screen and (min-width: 35.5em) {
      #testimonials .first {
        width: 66.66667%;
        vertical-align: top; } }
  #testimonials .middle {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%;
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 35.5em) {
      #testimonials .middle {
        width: 33.33333%;
        vertical-align: top; } }
    #testimonials .middle:nth-child(1) {
      width: 100%;
      font-size: inherit;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 0 1% 0;
      vertical-align: none;
      padding: 0;
      float: none;
      display: inline-block;
      overflow: auto; }
      @media screen and (min-width: 35.5em) {
        #testimonials .middle:nth-child(1) {
          width: 33.33333%;
          vertical-align: top; } }

#testimonial {
  height: 300px; }

.slider-container {
  width: 270px !important;
  height: 200px !important;
  overflow: hidden !important; }

.slider {
  float: left;
  width: 270px;
  height: 180px; }

.load {
  opacity: 1; }

.transition {
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }

#testimonial1 {
  background-color: #1976D2; }

#testimonial2 {
  background-color: #FFC107; }

#testimonial3 {
  background-color: #BBDEFB; }

.slideLink ul {
  left: 45%;
  position: absolute;
  padding: 0;
  margin: 0; }
  .slideLink ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    border: 5px solid #C2185B;
    border-radius: 50%; }

.intro {
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
  margin: 0 auto !important;
  display: block;
  float: none; }
  @media screen and (min-width: 35.5em) {
    .intro {
      width: 75%;
      vertical-align: top; } }

.bottom-margin {
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
  margin: 0 auto !important;
  display: block;
  float: none; }
  @media screen and (min-width: 35.5em) {
    .bottom-margin {
      width: 33.33333%;
      vertical-align: top; } }
  .bottom-margin .inputs .first {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0;
    margin: 0 auto !important;
    display: block;
    float: none; }
    @media screen and (min-width: 35.5em) {
      .bottom-margin .inputs .first {
        width: 33.33333%;
        vertical-align: top; } }
  .bottom-margin .middle {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%;
    float: none;
    margin: 0; }
    @media screen and (min-width: 35.5em) {
      .bottom-margin .middle {
        width: 12.5%;
        vertical-align: top; } }
  .bottom-margin .col {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%;
    margin: 0; }
    @media screen and (min-width: 35.5em) {
      .bottom-margin .col {
        width: 100%;
        vertical-align: top; } }

.post {
  float: left;
  display: block;
  overflow: hidden;
  clear: both; }
  .post .box {
    padding-top: 1%;
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%;
    margin: 0 auto !important;
    display: block;
    float: none;
    margin-bottom: 1% !important;
    margin-top: 1em; }
    @media screen and (min-width: 35.5em) {
      .post .box {
        width: 91.66667%;
        vertical-align: top; } }
    .post .box:nth-child(1) {
      width: 100%;
      font-size: inherit;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 0 1% 0;
      margin: 0 auto !important;
      display: block;
      float: none;
      margin-bottom: 1% !important; }
      @media screen and (min-width: 35.5em) {
        .post .box:nth-child(1) {
          width: 91.66667%;
          vertical-align: top; } }
    .post .box:nth-last-child(1) {
      width: 100%;
      font-size: inherit;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 0 1% 0.6%;
      margin: 0 auto !important;
      display: block;
      float: none;
      margin-top: 1em;
      margin-bottom: 3em; }
      @media screen and (min-width: 35.5em) {
        .post .box:nth-last-child(1) {
          width: 91.66667%;
          vertical-align: top; } }

main {
  float: left;
  display: block;
  overflow: hidden;
  clear: both;
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0.6%; }
  @media screen and (min-width: 35.5em) {
    main {
      width: 100%;
      vertical-align: top; } }

.create {
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
  margin: 0 auto !important;
  display: block;
  float: none; }
  @media screen and (min-width: 35.5em) {
    .create {
      width: 83.33333%;
      vertical-align: top; } }

form .create {
  width: 100%;
  font-size: inherit;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% 0;
  margin: 0 auto !important;
  display: block;
  float: none; }
  @media screen and (min-width: 35.5em) {
    form .create {
      width: 66.66667%;
      vertical-align: top; } }
  form .create input {
    width: 100%;
    line-height: 20px;
    padding-left: 10px; }
  form .create textarea {
    width: 100%;
    height: 311px;
    max-width: 793px; }

/*  GO FULL WIDTH BELOW 1100 PIXELS */
@media screen and (max-width: 72em) {
  nav .first {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; } }
  @media screen and (max-width: 72em) and (min-width: 35.5em) {
    nav .first {
      width: 25%;
      vertical-align: top; } }
@media screen and (max-width: 72em) {
  nav .middle {
    margin: 0.5em 0;
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; } }
  @media screen and (max-width: 72em) and (min-width: 35.5em) {
    nav .middle {
      width: 25%;
      vertical-align: top; } }
@media screen and (max-width: 72em) {
    nav .middle a {
      font-size: 1.5em; }
  nav .last {
    margin-top: 0.5em;
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; } }
  @media screen and (max-width: 72em) and (min-width: 35.5em) {
    nav .last {
      width: 99%;
      vertical-align: top; } }
@media screen and (max-width: 72em) {
    nav .last input[type='search'] {
      font-size: 1.5em;
      width: 100%;
      font-size: inherit;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 0 1% 0.6%; } }
    @media screen and (max-width: 72em) and (min-width: 35.5em) {
      nav .last input[type='search'] {
        width: 99%;
        vertical-align: top; } }
@media screen and (max-width: 72em) {
  nav form {
    background-color: #fff; }
    nav form input[type='submit'] {
      width: 100%;
      font-size: inherit;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      padding: 1% 0 1% 0.6%;
      height: auto; } }
    @media screen and (max-width: 72em) and (min-width: 35.5em) {
      nav form input[type='submit'] {
        width: 99%;
        vertical-align: top; } }

@media screen and (max-width: 72em) {
  header .feat .middle {
    width: 60%;
    margin: 0 20%; }
  header .feat h1 {
    font-size: 2.5em; }
  header .feat .last {
    width: 100%; }

  .intro h2 {
    font-size: 1.5em;
    padding: 0 1%; }

  article {
    margin-top: 1em;
    padding: 0; }

  .blue .first .middle {
    width: 98%;
    margin: 0 1% 2% 1%; }

  .bottom-margin .feat .middle {
    width: 30%; }

  .board {
    width: 98%;
    margin: 0 1%; }

  .dashboard {
    width: 90%;
    margin: 0 5%; }
    .dashboard h2 {
      font-size: 0.85em; }
    .dashboard .board {
      margin-bottom: 2%; }
    .dashboard .post.box .middle {
      margin-bottom: 2% !important; }

  .tile {
    margin-bottom: 2%; }

  .bottom-margin {
    width: 100%;
    font-size: inherit;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 1% 0 1% 0.6%; } }
  @media screen and (max-width: 72em) and (min-width: 35.5em) {
    .bottom-margin {
      width: 99%;
      vertical-align: top; } }

@media screen and (max-width: 37.5em) {
  nav .middle {
    margin: 0.5em 0; }
  nav .last {
    margin-top: 0.5em; }

  header .feat .middle {
    width: 60%;
    margin: 0 20%; }
  header .feat h1 {
    font-size: 1.5em; }

  .intro h2 {
    font-size: 1em;
    padding: 0 1%; }

  article {
    margin-top: 1em;
    padding: 0; }

  .blue .first .middle {
    width: 98%;
    margin: 0 1% 2% 1%; }

  .bottom-margin .feat .middle {
    width: 30%; }

  .board {
    width: 98%;
    margin: 0 1%; }

  .dashboard {
    width: 90%;
    margin: 0 5%; }
    .dashboard h2 {
      font-size: 0.85em; }
    .dashboard .board {
      margin-bottom: 2%; }
    .dashboard .post.box .middle {
      margin-bottom: 2% !important; }

  .tile {
    margin-bottom: 2%; } }

/*# sourceMappingURL=import.css.map */
