//all posts page
.post {
  //includes the mixin from the container
  @include row();
  float:none !important; // fixing the small width
  //adding button style on the own posts
.button {
    border:2px solid $pink;
    margin:0 1em;
    padding:1% 2%;
    color:$pink;
    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
//box is the container for the posts, mostly needs space around it and special font sizes
  .box {
    padding-top:1%;

      @include col(11,12);
      @include centr();
      margin-bottom: 1% !important;
      margin-top:1em;
      min-height:340px;
            &:nth-child(1) {
            @include col(11,12, $first:true);
            @include centr();
            margin-bottom: 1% !important;
          }
          &:nth-last-child(1) {
            @include col(11,12);
            @include centr();
            margin-top:1em;
            margin-bottom:3em !important;
          }
          article {
            h1{
              text-align: center;
              font-size: 3em;
            }
            h3, h4 {
              padding:0 1.25em;
            }
            h3 {
              text-align: center;
            }
          }
        }
}
.read-more{
  float: right;
  padding-right: 3%;
}
.g-plus{
  margin:3px!important;
}
