//dashboard

.dashboard {
	padding-top:2em;
	text-align: left;
	@include row();
	@include col(10,11,$first:true);
	@include centr(); //makes it centered

	h2 {
		font-size: 1.2em;
		color: $pink;
		text-align: left;
	}
}
h1.dashboard {
	font-size: 1.8em;
	color:$blue;
}

/*dashboard stuff*/
.tile {
	span{
		font-size: 11em;
	}
	h3 {
		margin-top: 2.45em;
	  font-size: 2em;
			color:$white;

	}
	&:hover {
		color:$green;
	}
}
/*Box property*/
.box {
	padding-bottom: 3em;
  box-shadow: -1px 3px 10px -5px $green;
  margin-bottom: 6em;
    /*comments*/
		&  > h3 {
			font-size: 1.9em;
			color: $pink;
			font-weight: 500;
			padding: 0 2%;
		}
		& > h4 {
			padding: 0 2%;
		}

}

.feat {
	margin: 1em auto;
	text-align: center;
}
.post {
	.feat {
		margin-top: 0.5em;
		margin-bottom: 0;
		.box {
			margin-bottom: 0.5em;
			text-align: left;
			> h3, > h4, > p {
				padding-left:0.5em;
			}
		}
	}
}

//tiles
.board{
	display: block;
	background: $green;
	@include col(8,18);
	margin:2%;
	&:hover {
		background: $pink;
		transition: 1s all;
		text-decoration: none;
	}
}
