//defaults
body {
  font-family: $text-font;
  color: $gray;
  font-size: 1.2em;
  margin: 0;
}

b {
  font-style: bold;
  font-weight: $bold-font;
}

i {
  font-style: italic;
}

//typography
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;
}

h1 {
  font-weight: 900;
  color: $blue;
}

h2 {
  font-weight: 900;
  color: $pink;
}

h3 {
  color: $green;
}

p {
  padding: 1.25em;
}

img {
  width:100%;

}
//links

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $pink;
    text-decoration: underline;
    transition: all 1s;
    text-decoration: none;
  }
  .tile {
  	color: $white;
  }
}
//default elements
header {
	margin: 2em 0 2em 0;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  @include row();
  @include col(1,1);
}
hg, .container {
  clear: both;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
section {
	min-height: 30vh;
	overflow: auto;
  @include row();
  @include col(1,1);
  .feat {
  	margin: -2em auto;
    :nth-last-of-type(1){
  	margin-bottom: 2em;
    }
  }
}
article {
  padding: 3em 0;
  margin: auto;
  > h2 {
  	color: $pink;
  	text-align: center;
  	font-size:2.5em;
    padding:0 1%;
  }
}
//helpers
.hidden {
  display: none;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.bottom-margin {
	margin-bottom: 10em;
}
.bg {
	background: $post-bg;
}

.blue {
	background:$white;
	overflow:hidden;
}
.transition {
	background: $blue;
	transition: 1s all;
}
.margins {
	margin: 1em 0 2em;
}
.fade {
  opacity:0;
}
//buttons
.button {
	padding: 0.25em 1em;
	border: 2px solid transparent;
	text-decoration: none;
}
.top {
	top: 4.75em;
}
.logo {
	padding-left: 5%;
}
.image {
	background: url('../img/landing-img.jpg') no-repeat center center;
	overflow: auto;
	background-size: cover;
}

.explain{
  label {
    color: $blue;
    font-family: $heading-font;
    font-size: 1.5em;
    }
}
small {
  font-size: 1em;
}
