//forms
//and their assosiates
.inputs {
	margin-bottom: 5em;
	border:1px solid  $blue;

	input[type=submit] {
		border: 2px solid $blue;
		background: $blue;
		padding:1em 2em;
		color: $post-bg;
		font-size: 0.75em;
		margin: 2em 0;
	  &:hover {
	    border: 2px solid $blue;
	    padding:1em 2em;
	    background: transparent;
	    color: $green;
	    transition: 1s all;

	  }
	}

  input[type="text"],input[type="password"],textarea {
  	min-height:2em;
  	max-height: 6em;
  	border: 1px solid $border-color;
  	margin: 1em 5%;
		width: 90%;

  }
}
textarea {
	min-height: 8em;
}

.light-green {
	background: $blue;
	padding:5% 0;
	h2 {
		color:$white;
	}
}
.left {
	text-align: left;
	padding-left:5% !important;
}
