//Grid mixin, done with responsivegrid.com and
//http://thesassway.com/intermediate/simple-grid-mixins

@mixin row() {
  float:left;
  display:block;
  overflow: hidden;
  clear:both;
}

@mixin col($col, $sum, $gap:0.6%, $align:top, $first:false) {
  width:100%;
  font-size: inherit;
  float:left;
  display: inline-block;
  box-sizing: border-box;
  padding: 1% 0 1% if($first, 0, $gap);
  @media screen and (min-width: 35.5em) {
      width:percentage($col/$sum);
      vertical-align: $align;

  }
}
