//middle header
header {
  .feat {
    .first {
      @include col(1,1);
    }
    .middle {
      @include row();
      @include col(1,4,$first:true);
    }
    .last {
      @include col(3,4);
    }
  }
  background: fade-out($border-color, 0.8);
  padding: 5% 0;
  box-shadow: -1px 6px 5px -5px $border-color;
  margin-bottom: 3em;


    h1 {
      font-size: 2.9em;
      text-align: center;
    }
    h2 {
      color:$pink;
      text-align: center;
    }
    .auto {
      margin-top:2em;
      text-align:center;
    }
    .button {
      text-align: center;
      border: 2px solid $pink;
      padding:0.5em 1em;
      color:$pink;
      &:hover {
        background:$pink;
        color:$white;
      }
    }
}


.container {
  @include row();
  clear: both;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.blue {
  margin-bottom:2em;
  .first{
    @include col(11,12);
    @include centr();
    padding: 0;
    .middle {
      @include col(8,27);
      margin:1.75%;
      &:nth-last-child(1) {
        padding-bottom:13px; //since not enough content
      }

    }
  }
}
//for loop
/*
@for $i from 1 through 3 {
  .fade { margin-bottom: 3em; }
}*/


//need to re-do, ugly

/*section content */
#testimonials {
	background: $green;
	color: $white;
  padding:0;
  margin:0;
  width:100%;

  }

  //latest addition round elements
  .round {
    width:300px;
    height:300px;
    border-radius: 150px;
    border:1px dashed $pink;
    margin:0 auto;
    h3{
          margin: 45% 0;
          color:$pink;
    }
  }
