//mobile
//mini-screen
@media screen and (max-width:37.5em) {
  nav {
    .middle {
    margin:0.5em 0;
  }
  .last {
    margin-top:0.5em;
  }

}
header {
  .feat{
    .middle {
      width:60%;
      margin:0 20%;
    }
  h1 {
    font-size: 1.5em;
  }
}
}
.intro h2 {
  font-size: 1em;
  padding:0 1%;
}
article{
  margin-top: 1em;
  padding: 0;
}
  .blue .first .middle {
    width:98%;
    margin:0 1% 2% 1%;
  }
  .bottom-margin .feat .middle {
    width:30%;
  }
  .board {
    width: 98%;
    margin: 0 1%;
  }
  .dashboard {
    width:90%;
    margin: 0 5%;
    h2 {
      font-size: 0.85em;
    }
    .board {
      margin-bottom:2%;
    }
    .post.box .middle{
      margin-bottom:2% !important;
    }
  }
  .tile {
    margin-bottom:2%;
  }
}
