//variables
$gray: #3d3c3c;
$text-font: 'Lato', sans-serif;
$heading-font:'museo-sans-rounded',sans-serif;
$bold-font: 700;
$post-bg:#e4ebeb;
$white: #fff;
$green: #006064;
$pink: #ad1457;
$border-color: #ddd;
$blue: #01579b;
