//General style for the website
@import 'grid';

body {
	font-family: $main;
	background-color: $lblue;
	color: $black;
	font-size: $norm;
}


//typography
h1,h2,h3,h4,h5{
	font-family: $heading;
}
h1 {

	font-size: $h-size;
	font-weight: 900;
	color: $blue;
}

//elements
hg {
	@extend .container;
	//align-items: center;
 	//justify-content: center;
}